@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*general styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
  
}
html {
    scroll-behavior: smooth;
}
html,
body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
    background-color: #6C3428;
    position: relative;
    width:100%;
    height: 100%;
}



ul li {
    list-style: none;
}
a{
    color:#F9E0BB;
    font-size: 15px;
    text-decoration: none;
}

nav{
    display:flex;
    width:100%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding: 10px 8%;
    background-color: #6C3428;
   
}
.change-navMenuBg{
    background-color:#6C3428;
}
.nav-logo{
    display: flex;
    font-size: 30px;
    color:#F9E0BB;
    justify-content: space-between;
    width: 100%;
    transition: .2s;
    opacity: 0;
    animation: slideLeft .8s ease forwards;
}
.nav-logo.h3{
    display: inline-block;
}
.nav-logo i{
    padding:10px;
    display:none;
}
.nav-links{
    display:flex;
    line-height: 3rem;
}
.nav-links .link a{
    color:#F9E0BB;
    font-size: 14px;
    padding:0px 20px;
    display:inline-block;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
    
} 
.nav-links .link a:hover{
    border-bottom: 2px solid #99681e;
}
.cv{
    background-color: #99681e;
    border-radius: 35px;
}

.hero-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2rem;
    color:#F9E0BB;
    padding:10%;
    align-items: center;
   
}
.hero-text{
    width:100%;
}
.hero-h2{
    font-size: 40px;
    font-size: 700;
    margin-bottom: 20px;
}
.hero-h3 {
    font-size: 30px;
    margin-bottom: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
 .hero-img, .about-img{
    display: flex;
    justify-content: center;
    width:100%;
}

.hero-img img {
    border: 2px solid #F9E0BB;
    width: 300px;
    height: 350px;
    object-fit: fill;
    transition: .5s;
    opacity: 0;
    animation:2s slideBottom .5s forwards;
    border-radius: 50%;  
    box-shadow: 0px 10px 10px 10px #F9E0BB;
}


.text-slide{
    width: 100%;
    overflow: hidden;
    animation: 2s text-slide 0.2s forwards;
    transform: translateY(100%);
    opacity: 0.2;
}

@keyframes text-slide {
    to {
        opacity: 1;
        transform: translateY(-0%);
    }
}
.btn{
    padding:10px 20px;
    background-color: #99681e;
    margin:20px 0px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    
}
.btn:hover{
    box-shadow: 0px 0px 10px 5px #ecd2a9; 
}
.fontawesome{
   display: flex;

}
.fontawesome-icon{
    padding-right: 30px;
    font-size: 5.2rem;
}
    @keyframes slideRight {
        0% {
            transform: translateX(100px);
            opacity: 0;
        } 
        100% {
            transform: translateX(0px);
            opacity: 1;
        } 
        
        }
        @keyframes slideLeft {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            } 
            100% {
                transform: translateX(0px);
                opacity: 1;
            } 
            
            }
        @keyframes slideTop {
            0% {
                transform: translateY(100px);
                opacity: 0;
            } 
            100% {
                transform: translateY(0px);
                opacity: 1;
            } 
            }
            @keyframes slideBottom {
                0% {
                    transform: translateY(-100px);
                    opacity: 0;
                } 
                100% {
                    transform: translateY(0px);
                    opacity: 1;
                } 
                }    
/*about*/
.about-container{
    background-color: #F2E8C6;
    color:#6C3428;
}
.about{   
    padding:6% 12% 5%;
}
.underline{
    border-bottom: 3px dotted #6C3428;
    width:10%;
    margin: auto;
    padding:5px 0px;
}

.about-col{
    margin-top: 5%;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 20px;
    margin: auto;
    text-align: center;
}
.about-text{
    width:100%;
    word-break:normal;
    word-wrap: normal;
    text-align: justify;
    line-height: 1.7rem;

}
.btn-skill{
    padding: 10px 20px;
    margin:  10px;
    font-size: 16px;
    background-color: #99681e;
    border: none;
    border-radius: 20px;
}
.content{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    text-align: justify;
    
}

.profile2-img {
    height:300px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}
/**/

/**/
.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E2C799;
    padding-top: 4%;
    width:100%;
}
.sub-skills-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3% 8%;
    align-items: center;
    gap:20px;
}
.sub-skill{
    width:100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-box{
    width:100%;
    margin: 25px 0;
}
.skill-title{
    color:#6C3428;
    font-size: 14px;
}
.skill-bar{
    max-width: 400px;
    background-color:#fff;
    border-radius: 5px;
    height: 10px;
    margin-top: 5px;
} 
.skill-percentage{
    position: relative;
    display:block;
    background-color:#6C3428;
    width:90%;
    border-radius: 10px;
    height: 100%;
    animation-delay: .1s;
    animation: progress 0.8s ease-in-out forwards;
}
.skill-percentage.html{
    width:95%;
}
.skill-percentage.css{
    width:90%;
}
.skill-percentage.tailwind{
    width:70%;
}
.skill-percentage.bootstrap{
    width:75%;
}
.skill-percentage.javascript{
    width:90%;
}
.skill-percentage.react{
    width:85%;
}
.skill-percentage.next{
    width:50%;
}
@keyframes progress {
    0%{
        width:0;
        opacity: 0;
    }
    100%{
        width:100;
    }
}
.skill-tooltip{
    position: absolute;
    right:-50px;
    top:-25px;
    font-size: 10px;
    padding:3px;
    border-radius: 2px;
    background-color: #F2E8C6;
   
}
.professional-skill-container{
    display: flex;
    justify-content: space-between;
    gap:20px;

}
.radial-bars{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.radial-bar{
    width:50%;
    height: 180px;
    margin-bottom: 10px;
    position: relative;
    
}
.radial-bar svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width:120px;
    height: 160px;
}
.progress-bar{
    stroke-width: 10;
    stop-color:black;
    fill:white;
    stroke-dasharray: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #6C3428;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
.path-5{animation: animate-path5 1s 1s linear forwards;}
.path-6{animation: animate-path6 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{stroke-dashoffset: 270;;}
} 
@keyframes animate-path2{
    100%{stroke-dashoffset: 150;;}
}
@keyframes animate-path3{
    100%{stroke-dashoffset: 125;;}
}
@keyframes animate-path4{
    100%{stroke-dashoffset: 50;;}
}
@keyframes animate-path5{
    100%{stroke-dashoffset: 180;;}
}
@keyframes animate-path6{
    100%{stroke-dashoffset: 90;;}
}   
.percentage{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: .5s ease-in;
    
}
.skill-text{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.contact-fontawesome i.fa {
    font-size: 30px;
    padding: 10px 30px;
}
.fontawesome-contact{
    display:flex;
    margin:20px 0px;
}

/*project*/
.portfolio-container{
    padding:5% 8%;
    perspective: 1000px;
    transform-style: preserve-3d;
    background-color: #E2C799;
}
.project{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2rem;
}
.card{
    position: relative;
    width:300px;
    height: 350px;
    perspective: 1000px;
    
}
.card-details{
    position: absolute;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    box-shadow: 4px 4px 4px 0px rgba(0, 0,0,0.5);
}
.card-details:hover{
    cursor: pointer;
    transform: rotateY(180deg);}
.front{
    position: absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    
}
.front-image{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.back{
    position: absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    background:#6C3428;
    color:#E2C799;
    padding: 10px;
    padding-bottom: 5%;
    transform: rotateY(180deg);
}
.back-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.desc{
    text-align: justify;
}
/*contact*/
.contact{
    background-color: #99681e;
    padding:5% 12%;
}
.contact-title{
    font-size: 25px;
    padding-left: 10px;
}
.fontawesome-contact h4{
    text-align: start;
}
.contact-fontawesome i.fa{
    padding:10px;
}
.input{
    border:2px solid #eee;
    padding:10px;
    width:100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
input:hover,
textarea:hover{
  border: 2px solid #99681e;
}
.btn-submit{
    background-color: #99681e;
    padding:10px 20px;
    border-radius: 5px;
}
/*scroll*/
.scroll-top{
    position: fixed;
    bottom:2rem;
    right: 2rem;
}
.scroll-top i{
    font-size: 30px;
    background-color: #99681e;
    padding:10px;
}
/*footer*/
footer{
   
    background-color: #6C3428;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   width: 100%;
   color:#F2E8C6;
   
}
.footer-links{
    display:flex;
}
.footer-links li a{
    color:#F2E8C6;
    font-weight: 500;
    padding:0px 15px;
}
.fontawesome-footer i.fa{
    font-size: 20px;
    padding:0px 10px;
}
.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0.5;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


@media screen and (max-width:1024px){
    .hero-h2{
        font-size: 30px;
    }
}
@media screen and (max-width:850px){
    nav{
        padding:10px 5%;
    }
    .hero-content{
        padding:15% 5%;
    }
    .about{
        padding: 10% 5%;
    }
    .sub-skills-container{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
}
@media screen and (max-width:690px) {
    nav{
        padding:10px 5%;
        width: 100%;
        justify-content: space-between;
    }
    .nav-logo i{
        display:block;
        
    }
    .nav-links{
        position:absolute;
        top:100%;
        right:0;
        left:0;
        flex-direction: column;
        text-align: left;
        display:none;
        transition: all .40s ease;
        background-color: #99681e;

    }
    .nav-links a{
        display:block;
        padding:1rem;
        margin:1rem;
    }
    .nav-links.active{
        display:block;
    }
    .hero-content{
     flex-direction: column-reverse;
         
    }
    .hero-h2{
        font-size: 20px;
    }
    .hero-h3{
        font-size: 16px;
    }
    .hero-img{
        margin-top: 10%;
    }
    .hero-img, .about-img{
        margin-bottom: 10%;
    }
    .about-col{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sub-skill{
        font-size: 1rem;
    }
    .content{
        display:block;
        text-align: center;
    }
    footer{
        display:block;
        padding:20px 5%;
        text-align: center;
    
    }
}
@media screen  and (max-width:450px){
    .hero-img{
        margin-top: 15%;
    }
}