@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
  
}
html,
body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}
a{
    color:#000;
    font-size: 15px;
}

/**/

section{
    position: relative;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
}

nav{
    display:flex;
    width:100%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    padding:10px 10%;
    z-index: 999;
   
}
.change-navMenuBg{
    background-color: rgba(228,233,253,0.4);
}
.nav-logo{
    display: flex;
    font-size: 30px;
    color:#A683E3;
    justify-content: space-between;
    width: 100%;
}
.nav-logo.h3{
    display: inline-block;
}
.nav-logo i{
    padding:10px;
    display:none;
}
.nav-links{
    display:flex;
    line-height: 3rem;
}
.nav-links .link a{
    color:#000;
    font-size: 14px;
    padding:0px 20px;
    display:inline-block;
    text-transform: uppercase;
    font-weight: 600;
} 
.nav-links .link a:hover{
    border-bottom: 2px solid #A683E3;
}
.cv{
    background-color: #E4E9FD;
    border-radius: 35px;
}
.hero-content{
    display:flex;
    flex-direction: row;
    padding:7%;
    justify-content: space-between;
    line-height: 2rem;
}
.hero-text{
    padding-left: 3%;
    margin-top: 10%;
    
}
.hero-h2{
    font-size: 40px;
    font-size: 700;
    margin-bottom: 20px;
}
.hero-h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.hero-p{
    width:90%;
}
.hero-img {
    width: 100%;
    overflow: hidden;   
}

.hero-img img {
    animation: 2s hero-img 0.5s forwards;
    transform: translateY(-100%);
}

@keyframes hero-img {
    to {
        transform: translateY(0);
    }
}

.text-slide{
    width: 100%;
    overflow: hidden;
    animation: 2s text-slide 0.2s forwards;
    transform: translateY(100%);
    opacity: 0.2;
}



@keyframes text-slide {
    to {
        opacity: 1;
        transform: translateY(-0%);
    }
}
.btn{
    padding:10px 20px;
    background-color: #E4E9FD;
    margin:20px 0px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-img{
  padding-left: 10%;
}
.fontawesome{
    position: absolute;
    left:5%;
    top:30%;
    display: block;
    width: 100%;
    overflow: hidden;
    
}

.fontawesome i.fa{
    font-size: 30px;
    padding:20px 0px;
    animation: 2s fontawesome 0.0s forwards;
    transform: translateX(-100%);
    
    
}
@keyframes fontawesome {
    to {
       
        transform: translateX(0);
        
    }
}


/*about*/
.about-container{
    background-color: #fff;
}
.about{   
    margin:8% 12% 5%;
}
.underline{
    border-bottom: 3px dotted #A683E3;
    width:10%;
    margin: auto;
    padding:5px 0px;
}

.about-col{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.title{
    font-size: 20px;
    margin: auto;
    text-align: center;
}
.about-text{
    word-break:normal;
    word-wrap: normal;
    text-align: justify;
    line-height: 1.7rem;
    padding-left: 20%;
    
}
.btn-skill{
    padding: 10px 20px;
    margin:  10px;
    font-size: 16px;
    background-color: #E4E9FD;
    border: none;
    border-radius: 20px;
}
.content{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    text-align: justify;
    
}

.profile2-img {
    height:300px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}
/**/
.contact-fontawesome i.fa {
    font-size: 30px;
    padding: 10px 30px;
}
.fontawesome-contact{
    display:flex;
    margin:20px 0px;
}

/*project*/
.portfolio{
    margin:5% 10%;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3rem;
    margin-top: 50px
}
.project-portfolio {
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    
}
.img-box{
    position:relative;
    width: 300px;
    height: 250px;
    cursor: pointer;
}
.img-box:hover .overlay{
    width:300px;
}
.overlay{
    width: 0px;
    height: 250px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top:0;
    overflow: hidden;
    color:white;
    display:flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.overlay p{
right: 20px;
}
.project-description{
    padding:10px 10px 15px;
}
.project-img {
    width: 300px;
    height: 250px;
    object-fit: cover;
 
}

.btn-project{
    padding: 10px;
    margin:10px;
    font-size: 14px;
    background-color: #E4E9FD;
    border: none;
    border-radius: 20px;
    transform-style: preserve-3d;
    transform: translateZ(40px);
    cursor: pointer;
}
.btn-project:hover{
    background-color: #A683E3;
}

.btn-project::after,
.btn-project::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-project:hover {
    transform: translate(-6px, -6px);
}

/*contact*/
.contact{
    background-color: #E4E9FD;
    padding:5% 12%;
}
.contact-title{
    font-size: 25px;
    padding-left: 10px;
}
.fontawesome-contact h4{
    text-align: start;
}
.contact-fontawesome i.fa{
    padding:10px;
}
.input{
    border:2px solid #eee;
    padding:10px;
    width:100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
input:hover,
textarea:hover{
  border: 2px solid #A683E3;
}
.btn-submit{
    background-color: #A683E3;
    padding:10px 20px;
    border-radius: 5px;
}
/*scroll*/
.scroll-top{
    position: fixed;
    bottom:2rem;
    right: 2rem;
}
.scroll-top i{
    font-size: 30px;
    background-color: #A683E3;
    padding:10px;
}
/*footer*/
footer{
   
    background-color: #A683E3;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   width: 100%;
   
}
.footer-links{
    display:flex;
}
.footer-links li a{
    color:#000;
    font-weight: 500;
    padding:0px 15px;
}
.fontawesome-footer i.fa{
    font-size: 20px;
    padding:0px 10px;
}
.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0.5;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
@media screen and (max-width:1200px){
     .portfolio{
        margin:5%;
}
}
@media screen and (max-width:1040px){

    nav{
        padding:10px 5%;
    }
    .about{
        margin:10% 5% 5%;
    }
    .profile-img{
        width:300px;
        height: 300px;
        top:20%;
        right: 30px;
    }
        
    .portfolio{
        margin:10% 3%;
    }
    .project{
        gap:2rem;
    }
  
}

@media screen and (max-width:870px){
.hero-h2{
    font-size: 35px;
}

.portfolio{
    margin: 10%;
    
}
.project{
        grid-template-columns: repeat(2, 1fr);

}
.project-portfolio{
    margin-top: 50px;
}
.about-text {
    padding-left: 5%;
}

}
@media screen and (max-width:750px){
    .nav-links .link a{
        padding:0px 15px;
    }
    .hero-h2{
        font-size: 25px;
    }
    .hero-h3{
        font-size: 20px;
    }
   
    .portfolio{
    margin: 10% 5%;
    
}

}

@media screen and (max-width:660px) {
    nav{
        padding:10px 5%;
        width: 100%;
        justify-content: space-between;
    }
    .nav-logo i{
        display:block;
        
    }
    .nav-links{
        position:absolute;
        top:100%;
        right:0;
        left:0;
        flex-direction: column;
        text-align: left;
        display:none;
        transition: all .40s ease;
        background-color: #E4E9FD;

    }
    .nav-links a{
        display:block;
        padding:1rem;
        margin:1rem;
    }
    .nav-links.active{
        display:block;
    }
    
    .hero-content{
    flex-direction: column-reverse;
         
    }
    .fontawesome{
        top:10%;
    }
   .hero-img{
    margin-top: 10%;
    text-align: center;
    }
    .hero-p{
        width:100%;
    }
    .profile-img{
        padding-left: 0%;
    }
    .about{
        margin:10%;
    }
  
    .about-col{
        display: block;
    }
    
    .about-img{
        text-align: center;
    }
    .content{
        display:block;
        text-align: center;
    }
    .hero-text{
    padding-left: 0%;
    margin-top: 10%;
    
}
    .about-text{
        padding:0;
        text-align: justify;
    }
    
    .portfolio{
    margin: 5%;
}

    .project-portfolio{
        margin-top: 50px;
        width:250px;
    }
    .project-img{
        width:250px;
       
    }
    .img-box{ 
    width: 250px;
   
}
.img-box:hover .overlay {
    width: 250px;
}

    .btn-project{
        padding: 10px;
        margin: 20px 5px 0px 10px;
        font-size: 14px;
       }
}
     @media screen and (max-width:550px){
        .hero-content{
            flex-direction: column-reverse;
        }
        .about-text{
            margin-top: 20px;
        }
       .project{
        display: block;
        margin:7% 3%;
       }
       .portfolio{
        margin-bottom: 15%;
       }
       .project-portfolio {
             width: 300px;
             margin: 20% auto;
             
       }
        .project-img {
             width: 300px;
            object-fit: cover;
        }
         .img-box{ 
    width: 300px;
   
    }
    .img-box:hover .overlay {
        width: 300px;
    }
        footer{
            display:block;
            padding:20px 5%;
            text-align: center;
        
        }
     }
